.genreContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}
@media screen and (max-width: 800px) {
    .genreContainer {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .genreContainer {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .genreContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .genreContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

